* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --light-white: #f5f8fa;
  --gray: #5e6278;
  --gray-1: #e3e3e3;
}
body {
  font-family: "IBM Plex Sans", sans-serif;

  font-size: 14px;
}
.navbar a {
  font-size: 20px;
  font-weight: 700;
  color: #345830;
}
/* Main CSS */
.wrapper {
  padding: 0 0 100px;
  background-image: url("../images/bgblur.png");

  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  min-height: 100%;
}
.wrapper .logo img {
  max-width: 60%;
  margin-bottom: -75px;
}
.login-form h3 {
  padding-top: 10%;
  padding-bottom: 5%;
}

.login-form .toggle-password {
  width: 40px;
  height: 40px;

  top: 10%;
  right: 0.5%;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  cursor: pointer;
}
.login-form .toggle-password.active i.bi-eye {
  display: none;
}
.login-form .toggle-password.active i.bi-eye-slash {
  display: inline;
}
.login-form .toggle-password i.bi-eye-slash {
  display: none;
}
.login-form .password-rules {
  transform: translateX(-50%);
  background-color: #dbdde6;
  border-radius: 5px;
  height: 0px;
  padding: 0px;
  opacity: 1;
}
.login-form .password-rules.active {
  opacity: 1;
  padding: 5%;
  height: 10%;
}
.login-form .password-rules > div {
  /* margin: 15px 10px; */
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.7;
  color: #75698c;
}
.login-form .password-rules > div.active {
  color: darkgreen;
}
.wrapper input {
  background-color: var(--light-white);
  border-color: var(--light-white);
  color: var(--gray);
}
.wrapper input:focus {
  box-shadow: none;
}
.wrapper .password-info {
  font-size: 10px;
}
.wrapper .submit_btn {
  padding: 10px 15px;
  font-weight: 500;
}
.wrapper .login_with {
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.wrapper .submit_btn:focus,
.wrapper .login_with:focus {
  box-shadow: none;
}
.wrapper .login_with:hover {
  background-color: var(--gray-1);
  border-color: var(--gray-1);
}
.wrapper .login_with img {
  max-width: 7%;
}
.checklabel {
  padding-left: 23%;
  color: blue;
  font-weight: 500;
  font-size: 15px;
}

/* .bi-info-circle-fill {
  margin-right: 90%;
} */
.form .strengthIndicte {
  display: none;
}
.form .strengthIndicte.active {
  display: block;
  margin-top: 14px;
}

/* .text-icon {
  display: flex;
} */
.text-icon .strengthmsg {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-top: 2%;
}
